<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<br>
<div class="card">
    <div class="card-body">
        <marquee behavior="alternate">
            Bienvenue
         </marquee>
         <br>

    </div>
  </div>
  <br>
  <div class="center">
  <img src="https://img.freepik.com/vecteurs-libre/citation-manuscrite-creative-welcome_67074-362.jpg?w=1800" width="800"  class="img-thumbnail" alt="Responsive image"></div>

<br>
<br>
<br>
<br>




