<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div [ngStyle]="{backgroundImage:'url(/assets/fondEcran.jpg)'}" >
<app-logo></app-logo>
<app-first></app-first>
<app-img></app-img>

</div>

<footer>
    <p>Author: Srikanth COLLATY/Mehdi NAJMI/Manyim Ma MAKON/Dehbia DJEBARRI <br>
      <i class="fa fa-facebook-official"></i>
     &nbsp; <i class="fa fa-instagram"></i>
     &nbsp;  <i class="fa fa-linkedin-square"></i>
     &nbsp;  <i class="fa fa-github"></i>
     &nbsp;<i class="fa fa-google-plus-square"></i>
     &nbsp;<i class="fa fa-twitter-square"></i>
     &nbsp; <i class="fa fa-youtube"></i>
    </p>
    <h2> &copy;</h2>
  </footer>
