<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<br>


  <br>
<div class="card">
    <div class="card-header">
        <div class="center">
      {{contact}}
    </div></div>
    <div class="card-body">
      <p class="card-text">
        The École supérieure d'informatique, électronique, automatique is a French engineering school. Its five-year general engineering program focuses in the field of Science and Technology in the Digital Computer, electronic and automatic.
        <br><br>
        Address: 74 bis Av. Maurice Thorez, 94200 Ivry-sur-Seine
        <br>
        Phone: 01 43 90 21 21
      </p>
      
    </div>
  </div>
      
<br>
<br>
<br>
<br>
    
<br>
<br>
<br>
<br>
    
<br>
<br>
<br>
<br>
    
<br>
<br>
<br>