<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<br>
<br>

   <div class="row">

     <div class="col-md-4" *ngFor="let moto of motos">
       <!-- Card -->
       <div class="card">
         <!-- Custom class for applying ripple -->

         <a [routerLink]="['/plc']" class="example-class">
           <img src={{moto.img}} height="195" class="card-img-top" /></a>

         <div class="card-body">
           <div class="center">
             <h5 class="card-title">{{moto.nom}} - {{moto.model}}</h5>
           </div>
           <div class="center">
             <div class="price">$ {{moto.prix}}</div>
           </div>
           <p class="card-text">
             <strong>Description</strong><br>
             Type: {{moto.type}} <br>
             Displacement: {{moto.enginedisp}} <br>
             Maximum torque: {{moto.torqmax}} rpm<br>
             Compression ratio: {{moto.compress}}<br>
           </p>
           <div class="center">
             <a routerLink="/plc"><button class="btn btn-primary">pursue the purchase</button></a>
           </div>
         </div>
       </div>
       <!-- Card -->
     </div>
   </div>

