<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<br>
<br>

   <div class="row">
    <div class="col-md-4">
      <!-- Card -->
      <div class="card">
        <!-- Custom class for applying ripple -->
        <a href="#!" class="example-class">
          <img src="https://i.ibb.co/K6bxWWh/motorbike-g11a0ab14e-1920.jpg" height="195" class="card-img-top" />
        </a>
        <div class="card-body">
            <div class="center">
          <h5 class="card-title">{{name}} - {{model}}</h5></div>
          <div class="center">
          <div class="price">$ {{price}}</div></div>
          <p class="card-text">
            Description
          </p>
          <div class="center">
            <a routerLink="/plc"><button class="btn btn-primary">pursue the purchase</button></a></div>
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col-md-4">
        <!-- Card -->
        <div class="card">
          <!-- Custom class for applying ripple -->
          <a href="#!" class="example-class">
            <img src="https://i.ibb.co/sbKGmQ2/bmw-gcf45aa3e3-1920.jpg" height="195px" class="card-img-top" />
          </a>
          <div class="card-body">
            <div class="center">
                <h5 class="card-title">{{name2}} - {{model2}}</h5></div>
                <div class="center">
                <div class="price">$ {{price2}}</div></div>
            <p class="card-text">
              Description
            </p>
            <div class="center">
              <a routerLink="/plc"><button class="btn btn-primary">pursue the purchase</button></a></div>
          </div>
        </div>
        <!-- Card -->
      </div>

      <div class="col-md-4">
        <!-- Card -->
        <div class="card">
          <!-- Custom class for applying ripple -->
          <a href="#!" class="example-class">
            <img src="https://i.ibb.co/yywtk0q/motorcycle-ga40c1e33b-1920.png" height="195px" class="card-img-top" />
          </a>
          <div class="card-body">
            <div class="center">
                <h5 class="card-title">{{name3}} - {{model3}}</h5></div>
                <div class="center">
                <div class="price">$ {{price3}}</div></div>
            <p class="card-text">
              Description
            </p>
            <div class="center">
              <a routerLink="/plc"><button class="btn btn-primary">pursue the purchase</button></a></div>
          </div>
        </div>
        <!-- Card -->
      </div>
    </div>

