<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<br>
<br>

   <div class="row">
    <div class="col-md-4" *ngFor="let car of cars">
      <!-- Card -->
      <div class="card" >
        <!-- Custom class for applying ripple -->
        <a href="#!" class="example-class">
          <img src="{{car.img}}" class="card-img-top" style="height: 213px !important;"/>
        </a>
        <div class="card-body">
            <div class="center" >
         <h5 class="card-title">{{car.nom}} - {{car.model}}</h5></div>
          <div class="center">
          <div class="price"> $ {{car.prix}}</div></div>
          <p class="card-text">
          <strong> Description</strong> <br>
          ARAI Mileage: {{car.mileage}} kmpl <br>
          TransmissionType: {{car.typetransmission}}<br>
          Fuel Tank Capacity: {{car.capacity}}<br>
          Max Torque (nm@rpm): {{car.torqmax}}<br>
          Engine Displacement (cc): {{car.enginedisp}}<br>
          </p>
          <div class="center">

          <a routerLink="/plc"><button class="btn btn-primary">pursue the purchase</button></a></div>
        </div>
      </div>
      <!-- Card -->
    </div>




    </div>



